body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  width: 100%;
  margin: auto;
  align-content: center;
  text-align: center;
}

.board-container {
  width: 100%;
  display: grid;
  align-content: center;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.gameboard {
  position: relative;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border: solid black 1px;
}

#randomize {
  padding: 0.5em;
  margin: 1em;
  font-size: medium;
}

.board-space2 {
  margin: auto;
}

.board-space1 {
  margin: auto;
}

.p1-row,
.p2-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: solid #1e2124 1px;
}
.p1-cell,
.p2-cell {
  border: solid #1e2124 1px;
}

.p2-cell {
  cursor: crosshair;
  hover {
    background-color: #8585851c;
  }
}

.fleet {
  background-color: #424549;
}

.miss {
  background-color: #7289da;
}

.hit {
  background-color: red;
}
