.gameboard {
  position: relative;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border: solid black 1px;
}

.p1-row,
.p2-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: solid grey 1px;
}
.p1-cell,
.p2-cell {
  border: solid grey 1px;
}

.p2-cell {
  cursor: crosshair;
  hover {
    background-color: #8585851c;
  }
}

.fleet{
  background-color: red
}
